Code for Problem 1:

In [35]:
import numpy as np
import math

y_hat = np.random.rand(100)
y = np.random.randint(0,2,100)

sum   = 0

for i in range(100):
  a = y_hat[i]
  b = 1-a
  sum = sum + y[i] * math.log2(a) + (1-y[i]) * math.log2(b)
  
O  = -sum/100
print(O)

1.1637996688208536

Code for Problem 2:

In [43]:
lst  = [15,20,40,10,40,25,50]
op   = {}
a = 1
target = 60

for i in range(7):
  for j in range(7):
   if(lst[i] + lst[j] == target):
     op[a] = [i,j]
     a = a + 1
     
print(op)

{1: [1, 2], 2: [1, 4], 3: [2, 1], 4: [3, 6], 5: [4, 1], 6: [6, 3]}