<a href="https://colab.research.google.com/github/VAIBHAV2900/SummerSchool-Assignment/blob/main/SS_assgn_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import random

**Q1: Create two vectors ð‘¦ and ð‘¦Ì‚ having the same dimensions, where ð‘¦Ì‚ should
consist of random numbers between [0,1) and ð‘¦ should contain 0ð‘  and
1ð‘ , for example, ð‘¦=[0,1,1,0,1,0,0,1,...,1].**

Compute the given expression:
![image.png]()
> Where n = 100, is the total number of elements in y and ð‘¦Ì‚
Note: The expression O, which you have computed is actually a
Cross-Entropy loss function used in machine learning for classification
tasks which tells us how bad or good the model is performing, if O is large
then the model is performing worst and vice versa.

In [16]:
def Cross_entropy(y,yhat):
  loss = y*np.log2(yhat) + (1-y)*np.log2(1-yhat)
  CE = -np.sum(loss)/len(loss)
  return CE

In [17]:
yhat = np.random.rand(100)
y = np.random.randint(2, size=len(yhat))
Cross_entropy(y,yhat)

1.2924814462508065

Test Case 1:
n = 5
y_hat = np.array([0.32, 0.56, 0.71, 0.14, 0.57])
y = np.array([1, 0, 1, 1, 0])
O = 1.47529

In [18]:
y_hat = np.array([0.32, 0.56, 0.71, 0.14, 0.57])
y = np.array([1, 0, 1, 1, 0])
Cross_entropy(y,y_hat)

1.4752965067943884

Test Case 2:
n = 4
y_hat = np.array([0.23, 0.54, 0.61, 0.89])
y = np.array([0, 0, 1, 1])
O = 0.59465

In [19]:
y_hat = np.array([0.23, 0.54, 0.61, 0.89])
y = np.array([0, 0, 1, 1])
Cross_entropy(y,y_hat)

0.5946513734544251

Test Case 3:
n = 7
y_hat = np.array([0.45, 0.10, 0.99, 0.32, 0.78, 0.81, 0.27])
y = np.array([1, 0, 1, 1, 1, 0, 0])
O = 0.88153

In [20]:
y_hat = np.array([0.45, 0.10, 0.99, 0.32, 0.78, 0.81, 0.27])
y = np.array([1, 0, 1, 1, 1, 0, 0])
Cross_entropy(y,y_hat)

0.8815394606426091

**2 . Write a Python class to find a pair of elements (indices of the two
numbers) from a given array whose sum equals a specific target
number.**
>Note: There will be multiple solutions, so create a dictionary where the
keys represent just S.No(1,2,3,4â€¦..) and the value corresponding to
the key represents the indices of the two numbers
For example: Input: numbers= [10,20,10,40,50,60,70], target=50
Output: {1: [0, 3], 2: [2, 3], 3: [3, 0], 4: [3, 2]}

In [35]:
class SUMFINDER:
  
  def __init__(self, target, array):
    self.target= target
    self.array= array

  def find(self):
    out = {}
    n= 1
    for i in range(len(self.array)):
      for j in range(len(self.array)):

        if self.array[i]+self.array[j] == self.target:
          out[n]=[i,j]
          n+=1

    return out

Test Case 1:
Input: numbers= [10,20,10,40,50,60,70]
Target=50
Output: {1: [0, 3], 2: [2, 3], 3: [3, 0], 4: [3, 2]}

In [36]:
arr1= [10,20,10,40,50,60,70]
T1=50
out1 =SUMFINDER(T1,arr1)
out1.find()

{1: [0, 3], 2: [2, 3], 3: [3, 0], 4: [3, 2]}

Test Case 2:
Input: numbers= [14, 15, 25, 36, 17, 18, 22, 21]
Target=39
Output: {1: [0, 2], 2: [2, 0], 3: [4, 6], 4: [5, 7], 5: [6, 4], 6: [7, 5]}

In [37]:
arr2= [14, 15, 25, 36, 17, 18, 22, 21]
T2=39
out2 =SUMFINDER(T2,arr2)
out2.find()

{1: [0, 2], 2: [2, 0], 3: [4, 6], 4: [5, 7], 5: [6, 4], 6: [7, 5]}

Test Case 3:
Input: numbers= [4, 10, 6, 14, 18, 19, 20]
Target=20
Output: {1: [1, 1], 2: [2, 3], 3: [3, 2]}

In [38]:
arr3= [4, 10, 6, 14, 18, 19, 20]
T3=20
out3 =SUMFINDER(T3,arr3)
out3.find()

{1: [1, 1], 2: [2, 3], 3: [3, 2]}