In [ ]:
import numpy as np
import math

In [ ]:
print("Enter the number of columns")
n=int(input())
y=np.random.randint(0,2,n)
y_hat=np.random.rand(n)
print("y = ",y)
print("y_hat = ",y_hat) 
c=(-1/(n)) 
s=0 
for j in range(0,n):
   t=y[j]
   f=y_hat[j]
   s+= t * math.log2(f) + (1-t) * math.log2(1-f)


O = c * s
print("O = ", O)

Enter the number of columns
5
y =  [0 0 1 1 1]
y_hat =  [0.20491511 0.92070817 0.00199273 0.32092752 0.70042551]
O =  3.022383121939012

Test Cases shown below.

In [ ]:
y=np.array([1,0,1,1,0])
y_hat=np.array([0.32,0.56,0.71,0.14,0.57])
c=(-1/(5)) 
s=0
for j in range(0,5):
   t=y[j]
   f=y_hat[j]
   s+= t * math.log2(f) + (1-t) * math.log2(1-f)


O = c * s
print("O = ", O)

O =  1.4752965067943886

This is Test Case 1

In [ ]:
y=np.array([0,0,1,1])
y_hat=np.array([0.23,0.54,0.61,0.89])
c=(-1/(4)) 
s=0
for j in range(0,4):
   t=y[j]
   f=y_hat[j]
   s+= t * math.log2(f) + (1-t) * math.log2(1-f)


O = c * s
print("O = ", O)

O =  0.5946513734544251

This is Test Case 2

In [ ]:
y=np.array([1,0,1,1,1,0,0])
y_hat=np.array([0.45,0.10,0.99,0.32,0.78,0.81,0.27])
c=(-1/(7)) 
s=0
for j in range(0,7):
   t=y[j]
   f=y_hat[j]
   s+= t * math.log2(f) + (1-t) * math.log2(1-f)


O = c * s
print("O = ", O)

O =  0.881539460642609

This is Test Case 3