In [2]:
import numpy as np

# **Question 1**
Create two vectors ùë¶ and ùë¶ÃÇ having the same dimensions, where ùë¶ÃÇ should
consist of random numbers between [0,1) and ùë¶ should contain 0ùë† and
1ùë†, for example, ùë¶=[0,1,1,0,1,0,0,1,...,1]. Compute the given expression:

(Crossentropy loss function)

Where n = 100, is the total number of elements in y and ùë¶ÃÇ

# **Solution 1**

In [12]:
def Crossentropy(n):
  y_hat = np.random.rand(n)
  y = np.random.randint(0, 2, n)
  O = -np.average(y*np.log2(y_hat)+(1-y)*np.log2(1-y_hat))
  return O

In [13]:
n = int(input("Enter a natural number :"))
Crossentropy(n)

Enter a natural number :100

1.2882644485160537

# **Question 2**
Write a Python class to find a pair of elements (indices of the two
numbers) from a given array whose sum equals a specific target
number.

# **Solution 2**

In [20]:
class sum_target():

  def __init__(self, array, target):
    self.array = array
    self.target = target
    self.d = dict()

  def find_dict(self):
    n = len(self.array)
    Ar = self.array
    count = 1
    for i in range(n):
      for j in range(n):
        if Ar[i] + Ar[j] == self.target:
          self.d[count] = [i, j]
          count += 1
    return self.d

###Test Case 1

In [21]:
array1 = [10, 20, 10, 40, 50, 60, 70]
target1 = 50
C1 = sum_target(array1, target1)
C1.find_dict()

{1: [0, 3], 2: [2, 3], 3: [3, 0], 4: [3, 2]}

###Test Case 2

In [22]:
array2 = [14, 15, 25, 36, 17, 18, 22, 21]
target2 = 39
C2 = sum_target(array2, target2)
C2.find_dict()

{1: [0, 2], 2: [2, 0], 3: [4, 6], 4: [5, 7], 5: [6, 4], 6: [7, 5]}

###Test Case 3

In [23]:
array3 =  [4, 10, 6, 14, 18, 19, 20]
target3 = 20
C3 = sum_target(array3, target3)
C3.find_dict()

{1: [1, 1], 2: [2, 3], 3: [3, 2]}